#kinspax-draggable-bar {
    width: 8px;
    cursor: col-resize;
    margin-left: -4px;
    opacity: 0;
    background-color: #a1a1a1;
    position: absolute;
    z-index: 9;
}

#kinspax-draggable-bar:hover {
    opacity: 0.3;
}

.gaia-argoui-space-spacecontent.collapsed #kinspax-draggable-bar {
    display: none;
}
.gaia-argoui-space-spacecontent.collapsed.three-pane .gaia-argoui-space-spacecontent-body {
    margin-left: 0px!important;
}

#kinspax-twopane-button {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/twopane.png');
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    margin-left: 8px;
}

#kinspax-twopane-button.is-active {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/twopane-active.png');
}