#kinspax-draggable-bar-left,
#kinspax-draggable-bar-right {
  width: 8px;
  cursor: col-resize;
  margin-left: -4px;
  opacity: 0;
  background-color: #a1a1a1;
  position: absolute;
  z-index: 9;
}

#kinspax-draggable-bar-left:hover,
#kinspax-draggable-bar-right:hover {
  opacity: 0.3;
}

.gaia-argoui-space-spacecontent.collapsed #kinspax-draggable-bar-left,
.gaia-argoui-space-spacecontent.collapsed #kinspax-draggable-bar-right,
.gaia-argoui-space-spacecontent.two-pane #kinspax-draggable-bar-right {
  display: none;
}

.gaia-argoui-space-spacecontent.two-pane .gaia-argoui-space-spacecontent-body {
  margin-right: 0 !important;
  border-right: 0 !important;
}

.gaia-argoui-space-spacecontent.collapsed.three-pane .gaia-argoui-space-spacecontent-body {
  margin-right: 0 !important;
  border-right: 0 !important;
  margin-left: 0 !important;
  border-left: 0 !important;
}

#kinspax-twopane-button {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/twopane.png');
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  margin-left: 8px;
}

#kinspax-twopane-button.is-active {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/twopane-active.png');
}

#kinspax-searchbox {
  border-bottom: 1px solid #e3e7e8;
}

#kinspax-searchbox-input {
  height: 64px;
  width: 152px;
  padding: 0 64px 0 24px;
  margin: 0 0 1px 0;
  border: none;
  color: #888;
  background-color: #fff;
  box-shadow: 2px 2px 4px #f5f5f5 inset, -2px -2px 4px #f5f5f5 inset;
}

#kinspax-searchbox-input:focus {
  background-color: #e2f2fe;
  box-shadow: none;
  color: #000;
}

.gaia-argoui-space-threadlist-item-link mark {
  font-weight: 600;
  background: none;
}
